<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-12">
      <div class="well">
        <div ng-class="{'server-up': home.catraca1.online, 'server-down': !home.catraca1.online}">
          <span class="server-status" type="{{home.catraca1.online === true ? 'up' : 'down'}}"></span>
          <span class="server-name">Catraca 01</span>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-12">
      <div class="well">
        <div ng-class="{'server-up': home.catraca2.online, 'server-down': !home.catraca2.online}">
          <span class="server-status" type="{{home.catraca2.online === true ? 'up' : 'down'}}"></span>
          <span class="server-name">Catraca 02</span>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-12">
      <div class="well">
        <div ng-class="{'server-up': home.catraca3.online, 'server-down': !home.catraca3.online}">
          <span class="server-status" type="{{home.catraca3.online === true ? 'up' : 'down'}}"></span>
          <span class="server-name">Catraca 03</span>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-12">
      <div class="well">
        <div ng-class="{'server-up': home.catraca4.online, 'server-down': !home.catraca4.online}">
          <span class="server-status" type="{{home.catraca4.online === true ? 'up' : 'down'}}"></span>
          <span class="server-name">Catraca 04</span>
        </div>
      </div>
    </div>
  </div>

  <h1>Acessos Recentes <small> Visitantes e Funcionários</small></h1>
  <div class="row">
    <div class="col-md-8">
      <table class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th>
              Foto
            </th>
            <th>
              Pessoa
            </th>
            <th>
              Data e Hora
            </th>
            <th>
              Sentido
            </th>
            <th>
              Abatrack
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="movimentacao in home.movimentacoes">
            <td id="foto">
              <img ng-if="movimentacao.foto" ng-src="http://10.5.66.127/arquivos/cap/fotoPessoas/{{movimentacao.foto}}" style="width: 50px;"alt="" />
              <img ng-if="!movimentacao.foto" ng-src="assets/img/bandeiraSP.png" style="width: 50px;"alt="" />
            </td>
            <td>
              {{movimentacao.nome}}
            </td>
            <td>
              {{movimentacao.dataHora}}
            </td>
            <td>
              {{movimentacao.sentido == "E" ? "Entrada" : "Saída"}}
            </td>
            <td>
              {{movimentacao.abaTrack}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
